<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vestor Academy</title>
    <link rel="stylesheet" href="css/vestorstyle.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/sweetalert2.all.min.js"></script>
    <script src="js/vestor.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="img/Logo Full 1.png" width="100pt" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Courses <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item active notifnav">
              <a class="nav-link text-white" href="#notify"
                ><i class="fas fa-envelope mr-2"></i>Notify Me
                <span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="learnmore">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-md-2 jumbotext-wrap">
              <div class="jumbotext">
                  <h2>KELAS ONLINE INVESTASI</h2>
                  <p>
                    Belajar investasi dan keuangan dengan mudah. Dibimbing oleh
                    mentor terbaik dibidangnya dengan materi yang terkurasi
                  </p>
                  <a href="#courses">
                  <button class="learnbtn">LEARN MORE</button>
                </a>
                </div>
            
          </div>
          <div class="col-md-6  order-md-1">
              <img src="img/People.png" class="img-fluid d-block headerimg"alt="" />
          </div>
        </div>
      </div>
    </section>
    <section id="courses" class="pt-5 pb-5">
      <div class="container">
        <h2 class="text-center">COMING SOON COURSES</h2>
        <div class="owl-carousel owl-theme" style="">
          <div class="item">
            <div class="vestorcard">
              <div class="vestorcard-top">
                <img src="img/Muhammad Deivito Dunggio.png" alt="" />
              </div>
              <div class="vestorcard-bot">
                <div class="container">
                  <h6 class="card-desc-title">Bitcoin 101</h6>
                  <h6>Muhammad Deivito Dungio</h6>
                  <p class="card-description">
                    Executive Director Asosiasi Blockchain Indonesia
                  </p>
                  <button
                    class="vestorcard-btn"
                    data-toggle="modal"
                    data-target="#modal1"
                  >
                    Detail
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="vestorcard">
              <div class="vestorcard-top">
                <img src="img/Aldy Sanjaya.png" alt="" />
              </div>
              <div class="vestorcard-bot">
                <div class="container">
                  <h6 class="card-desc-title">
                    Financial planning 101, An Introduction for Millennials
                  </h6>
                  <h6>Aldy Destio Sanjaya, CFP</h6>
                  <p class="card-description">
                    Independent Financial Advisor and Founder of Varena.id
                  </p>
                  <button class="vestorcard-btn" data-toggle="modal" data-target="#modal2">Detail</button>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="vestorcard">
              <div class="vestorcard-top">
                <img src="img/Hendra Martono Liem.png" alt="" />
              </div>
              <div class="vestorcard-bot">
                <div class="container">
                  <h6 class="card-desc-title">
                    Optimalkan profit trading saham Anda bersama T1ARA
                  </h6>
                  <h6>Hendra Martono Liem</h6>
                  <p class="card-description">
                    Founder ARA Hunter
                  </p>
                  <button class="vestorcard-btn" data-toggle="modal"
                  data-target="#modal3">Detail</button>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="vestorcard">
              <div class="vestorcard-top">
                <img src="img/Irwan Abdalloh.png" alt="" />
              </div>
              <div class="vestorcard-bot">
                <div class="container">
                  <h6 class="card-desc-title">
                    Pasar Modal Syariah
                  </h6>
                  <h6>Irwan Abdalloh</h6>
                  <p class="card-description">
                    Kepala Pasar Modal Syariah BEI
                  </p>
                  <button class="vestorcard-btn" data-toggle="modal"
                  data-target="#modal4">Detail</button>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="vestorcard">
              <div class="vestorcard-top">
                <img src="img/Vikra Ijas New.png" alt="" />
              </div>
              <div class="vestorcard-bot">
                <div class="container">
                  <h6 class="card-desc-title">
                      Profit VS Social Impact
                  </h6>
                  <h6>Vikra Ijas</h6>
                  <p class="card-description">
                    Chief Product Officer Kitabisa.com
                  </p>
                  <button class="vestorcard-btn" data-toggle="modal"
                  data-target="#modal5">Detail</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="notify" class="d-flex align-items-center">
      <div class="container h-100">
        <h4 class="notifytitle">
          Masukkan email kamu dan dapatkan diskon serta informasi terbaru dari
          Vestor Academy
        </h4>
        <div class="notifywrap">
          <form action="" id="subscribeform">
            <input
              class="notifyinput"
              type="email"
              placeholder="Masukkan email kamu"
              id="email"
            />

            <button class="notifybtn" type="submit">SUBMIT</button>
          </form>
        </div>
      </div>
    </section>
    <section id="footer">
      <div class="container">
        <div class="footerwrap">
          <div class="footercontent">
            <div class="d-block">
              <img
                src="img/Vestor Academy White.png"
                style="width: 90pt;"
                alt=""
              />
            </div>
            <ul class="footlist">
              <li class="font-weight-bold">
                Belajar Investasi dan <br />Keuangan dari Mentor
                <br />Profesional
              </li>
            </ul>
          </div>
          <!-- <div class="footercontent">
            <div class="d-block">
              <span class="foothead">MENU</span>
            </div>
            <ul class="footlist">
              <li>Home</li>
              <li>Courses</li>
              <li>Webinars</li>
              <li>Certificates</li>
              <li>About</li>
              <li>Contact</li>
            </ul>
          </div> -->
          <!-- <div class="footercontent">
            <div class="d-block">
              <span class="foothead">COMPANY</span>
            </div>
            <ul class="footlist">
              <li>Become Mentors</li>
              <li>Careers</li>
            </ul>
          </div> -->
          <div class="footercontent">
            <div class="d-block">
              <span class="foothead">FOLLOW US</span>
            </div>
            <ul class="footlist">
              <li>
                <a href="https://www.instagram.com/vestor_academy/" target="_blank" style="color: white;">
                <i class="fab fa-instagram fa-2x"></i>
                </a>
                <!-- ><i class="fab fa-youtube fa-2x ml-2"></i> -->
              </li>
            </ul>
          </div>
          <div class="footercontent">
            <div class="d-block">
              <span class="foothead">CONTACT US</span>
            </div>
            <ul class="footlist">
              <li><i class="far fa-envelope"></i> contact@vestor.id</li>
              <li>
                  <i class="fas fa-map-marker-alt"></i> Brooklyn Alam Sutera<br />Apartment
                Soho<br />Lt 5 Blok B5B,<br />Tangerang Selatan
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- MODAL 1 -->

    <div
      class="modal fade"
      id="modal1"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
            <h3 class="text-center">BITCOIN 101</h3>
            <h5 class="text-center mt-5">Course Description</h5>
            <p>
              Bitcoin adalah cryptocurrency pertama dengan teknologi blockchain 
              yang digadang-gadang sebagai teknologi baru pasca internet. Bitcoin 
              menjadi pembicaraan hangat dikalangan ekonom disebabkan nilai
               pertumbuhannya yang meningkat pesat dalam waktu singkat. Dimulai dari 
               koin yang tidak bernilai pada tahun 2011 hingga mencapai  20.000 USD 
               atau hampir 300 juta rupiah per koin bitcoin pada tahun 2017. 
               <p>
                Bagi beberapa orang, Bitcoin digunakan sebagai alat transaksi. Namun 
                lebih dari itu, Bitcoin juga sangat ‘sexy’ sebagai aset investasi dan 
                instrumen spekulasi untuk mendapatkan manfaat di masa depan. Oleh karena 
                itu, pada kelas online kali ini, akan dikupas tuntas tentang apa dan 
                bagaimana cara mendapatkan manfaat dari aset digital ini. 
               </p>
               
            </p>
            <h5 class="text-center mt-5">Mentor</h5>
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="mentorava">
                  <img class="avaimg"src="img/Profile - Muhammad Deivito Dunggio.jpg" alt="" />
                </div>
                <h5 class="mt-3">Muhammad Deivito Dunggio</h5>
                <p>Executive director Asosiasi Block Chain Indonesia</p>
              </div>
              <div class="col-md-8">
                <p>
                  Belum banyak masyarakat yang familiar dengan cryptocurrency dan teknologi blockchain . Namun, hal ini sudah dikenal oleh Muhammad Deivito Dunggio sejak beberapa tahun terakhir. Dengan pengalamannya didunia blockchain dan cryptocurrency, Muhammad Deivito Dunggio atau yang kerap disapa Oham dipercaya untuk memegang amanah sebagai Executive Director dari Asosiasi Blockchain Indonesia, sebuah asosiasi yang berusaha untuk memasyarakatkan teknologi blockchain dan cryptocurrency di masyarakat.
                </p>
                <p>
                  Oham akan menjelaskan salah satu cryptocurrency yang sedang naik daun akhir-akhir ini, yaitu Bitcoin. Bitcoin sendiri adalah cryptocurrency yang paling diburu karena memiliki nilai satuan yang besar, dan terus berkembang. Oleh karena itu pada kelas online kali ini, Oham akan memperkenalkan Bitcoin hingga mengajarkan bagaimana cara mendapatkan manfaat dari investasi Bitcoin di Indonesia. Yuk ikuti kelasnya!
                </p>
              </div>
              <div
                class="notifywrap"
                style="width: 80%; border:1px solid #62599e"
              >
                <form action="" id="subscribeform1">
                  <input
                    class="notifyinput"
                    type="email"
                    placeholder="Masukkan email kamu"
                    id="email1"
                  />

                  <button class="notifybtn-modal" type="submit">
                    SUBMIT
                  </button>
                </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button> -->
          </div>
        </div>
      </div>
    </div>


    <!-- Modal 2 -->

    <div
      class="modal fade"
      id="modal2"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
            <h3 class="text-center">Financial planning 101</h3>
            <h5 class="text-center mt-5">Course Description</h5>
            <p>
              Perencanaan keuangan adalah sebuah langkah esensial menuju kesejahteraan finansial. Materi Financial Planning 101: An Introduction for Millennials ditujukan untuk masyarakat khususnya millennials agar dapat memiliki pemahaman yang komprehensif tentang perencanaan keuangan. Kelas online ini diharapkan dapat membantu millennials memahami konsep dan praktik perencanaan keuangan personal sejak memulai karir hingga pension. Banyak orang yang sangat membutuhkan Financial Planning untuk mempersiapkan kebutuhan dimasa mendatang khususnya terlebih dengan adanya tantangan – tantangan finansial baru yang muncul pada era ini. Oleh karena itu, Course kali ini akan ingin membantu millennials untuk memperdalam ilmu Financial Planning agar kualitas literasi keuangan maasyarakat menjadi lebih baik. 
            </p>
            <h5 class="text-center mt-5">Mentor</h5>
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="mentorava">
                  <img class="avaimg" src="img/Profile - Aldy Sanjaya.png" style="object-position: 60% 10%;" alt="" />
                </div>
                <h5 class="mt-3">Aldy Destio Sanjaya, CFP</h5>
                <p>Independent Financial Advisor and Founder of Varena.id</p>
              </div>
              <div class="col-md-8">
                <p>
                  Dengan semakin meningkatknya kesadaran keuangan di masyarakat, membuat Aldy Destio Sanjaya berinisiatif mendirikan varena.id. sebuah perusahaan penasehat keuangan independen yang berorientasi untuk meningkatkan kualitas literasi keuangan ditengah-tengah masyarakat. Berbekal pengalamannya didunia asuransi, Aldy mengambil sertifikasi penasehat keuangan. Sampai hari ini sudah puluhan klien yang dibantu oleh Aldy dalam mengoptimalkan sumberdaya keuangannya dalam mencapai tujuan – tujuan finansial. Pada kelas online kali ini, Aldy akan membagikan ilmu financial planning. Tujuannya adalah agar literasi keuangan masyarakat menjadi jauh lebih baik lagi. Yuk ikuti kelasnya!
                </p>
              </div>
              <div
                class="notifywrap"
                style="width: 80%; border:1px solid #62599e"
              >
                <form action="" id="subscribeform2">
                  <input
                    class="notifyinput"
                    type="email"
                    placeholder="Masukkan email kamu"
                    id="email2"
                  />

                  <button class="notifybtn-modal" type="submit">
                    SUBMIT
                  </button>
                </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button> -->
          </div>
        </div>
      </div>
    </div>

    <!-- modal 3-->

    <div
      class="modal fade"
      id="modal3"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
            <h3 class="text-center">Optimalkan profit trading saham Anda bersama T1ARA</h3>
            <h5 class="text-center mt-5">Course Description</h5>
            
            <p>
              Kebanyakan orang memiliki mindset ‘mengejar’ profit dalam trading saham. Sangat jarang mereka yang berfikir untuk ‘dikejar’ oleh profit. Hal ini sesungguhnya basic mindset bagi seorang trader. Mindset inilah yang pada akhirnya menentukan cara seseorang dalam investasi dan trading saham. 
            </p>
          
            <p>
              Saat ini hadir sebuah tools trading yang membuat profit ‘mengejar’ kita dengan resiko yang minim. Sebuah tools yang dilengkapi dengan teknologi dan indikator – indikator yang mampu menjadi ‘peta’ bagi profit untuk ‘mengejar’ kita. Tools tersebut adalah T1ARA.
            </p>
            <p>
              Pada kelas online kali ini, Hendra Martono Liem atau yang kerap disapa Suheng, Founder komunitas ARA Hunter akan menjelaskan bagaimana cara untuk mencetak mega profit dengan menggunakan T1ARA. Suheng secara detail akan menjelaskan strategi jitu dengan sebuah teknik analisa yang disebut quantitative trading system yang dikemas dengan simple sehingga dengan mudah dipahami dan diaplikasikan.
            </p>
          

            <h5 class="text-center mt-5">Mentor</h5>
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="mentorava">
                  <img class="avaimg" src="img/Profile - Hendra Martono Liem.jpg" alt="" />
                </div>
                <h5 class="mt-3">Hendra Martono Liem</h5>
                <p>Founder ARA Hunter</p>
              </div>
              <div class="col-md-8">
                <p>
                  Tidak lengkap rasanya ketika kita berbicara investasi di Indonesia tanpa menyebut nama Hendra Martono Liem atau yang kerap disapa Suheng, yang sudah memiliki pengalaman di pasar modal indonesia selama 22 tahun. Selain itu Suheng mempunyai dua sertifikasi utama yaitu Certified Technical Analyst (CTA) dan Certified Securities Analyst (CSA)  Suheng adalah founder dari ARA Hunter, salah satu komunitas trading saham yang ada di Indonesia dan yang menciptakan T1ARA trading application system.
                </p>
                <p>
                  Beliau menemukan suatu sistem yang unik, yaitu teknologi Quantitative Trading System. Dengan adanya teknologi Quantitative Trading System ini, diharapkan agar masyarakat yang ingin menjadi trader saham akan lebih mudah dalam menganalisis saham secara fundamental maupun teknikal. Yuk ikuti kelasnya!
                </p>
              </div>
              <div
                class="notifywrap"
                style="width: 80%; border:1px solid #62599e"
              >
                <form action="" id="subscribeform3">
                  <input
                    class="notifyinput"
                    type="email"
                    placeholder="Masukkan email kamu"
                    id="email3"
                  />

                  <button class="notifybtn-modal" type="submit">
                    SUBMIT
                  </button>
                </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button> -->
          </div>
        </div>
      </div>
    </div>

    <!-- modal 4-->

    <div
      class="modal fade"
      id="modal4"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
            <h3 class="text-center">Pasar Modal Syariah</h3>
            <h5 class="text-center mt-5">Course Description</h5>
            <p>
                Indonesia merupakan negara dengan populasi umat muslim terbesar di dunia. Pasar modal syariah ditandai dengan munculnya Jakarta Islamic Index pada tahun 2000. Jumlah investor syariah meningkat hampir 9.000 persen dari hanya 532 investor pada 2012 menjadi 47.615 investor per Februari 2019.
            </p>
            <p>
                Potensi pasar modal syariah sangat besar dan akan mengalami pertumbuhan yang cepat, hal ini terlihat dengan gencarnya OJK mengembangkan program – programya dalam memperluas inklusi keuangan.
            </p>
            <p>
                Bagi para investor yang masih ragu dengan Pasar Modal Konvensional, Mendalami ilmu pasar modal syariah akan menghilangkan permasalahan tersebut. Selain memiliki potensi perkembangan yang tinggi di masa depan, pasar modal syariah juga sangat baik sebagai instrumen investasi masa depan.
            </p>

            <h5 class="text-center mt-5">Mentor</h5>
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="mentorava">
                  <img class="avaimg" src="img/Profile-Irwan Abdalloh.jpg" style="object-position: 30% 50%;" alt="" />
                </div>
                <h5 class="mt-3">Irwan Abdalloh</h5>
                <p>Kepala Pasar Modal Syariah BEI</p>
              </div>
              <div class="col-md-8">
                <p>
                    Pak Irwan Abdalloh menjadi Kepala Pasar Modal Syariah BEI sejak November 2017. Dengan pengalaman di bidang Pasar Modal Syariah beliau menciptakan konsep pasar modal syariah di bidang pendidikan melalui School of Islamic Capital Market (SICM). Beliau juga aktif berperan dalam fatwa no. 80 tentang penerapan dasar syariah dalam mekanisme trading saham. Pada kelas online kali ini, Pak Irwan akan menjelaskan tentang Pasar Modal syariah secara detail agar masyarakat semakin mengenal dan terlibat dalam dunia investasi yang halal, legal dan aman. Yuk ikuti kelasnya!
                </p>
              </div>
              <div
                class="notifywrap"
                style="width: 80%; border:1px solid #62599e"
              >
                <form action="" id="subscribeform4">
                  <input
                    class="notifyinput"
                    type="email"
                    placeholder="Masukkan email kamu"
                    id="email4"
                  />

                  <button class="notifybtn-modal" type="submit">
                    SUBMIT
                  </button>
                </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button> -->
          </div>
        </div>
      </div>
    </div>

    <!--Modal 5-->

    <div
      class="modal fade"
      id="modal5"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
            <h3 class="text-center">Profit VS Social Impact</h3>
            <h5 class="text-center mt-5">Course Description</h5>
            <p>
                Karakter masyarakat Indonesia yang gemar untuk saling tolong dan bergotong – royong membuat kebaikan diantara masyarakat sangat mudah untuk menyebar. Namun hal itu bukan tanpa tantangan. Salah satu tantangan dalam menyebarkan kebaikan ditengah masyarakat adalah mempertemukan mereka yang membutuhkan bantuan dengan orang – orang baik yang bersedia membantu dalam skala yang besar. Karena adanya tantangan – tantangan tersebut maka hadirlah sebuah gerakan sosial dengan cara kerja yang mengadopsi cara kerja organisasi bisnis. Gerakan ini seringkali disebut dengan istilah social enterprise, organisasi yang bertujuan untuk membantu masyarakat yang membutuhkan dengan skala yang lebih besar. 
            </p>
            <p>
                Salah satu social enterprise yang kehadirannya banyak membantu masyarakat adalah Kitabisa.com, crowd funding platform yang bertujuan menyelesaikan masalah – masalah sosial. Kitabisa.com memproduksi dan mendistribusikan konten yang berisikan belas kasih, memberikan harapan, mengantarkan bantuan dan memperluas kebaikan.
            </p>
            <p>
                Dalam kelas online kali ini akan diulas tentang bagaimana sebuah organisasi dengan misi sosial dapat bertahan dan dioperasikan dengan cara – cara yang diadopsi dari organisasi bisnis yang berorientasi profit. 
            </p>
            <h5 class="text-center mt-5">Mentor</h5>
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="mentorava">
                  <img class="avaimg" src="img/Profile - Vikra Ijas.jpg" alt="" />
                </div>
                <h5 class="mt-3">Vikra Ijas</h5>
                <p>Chief of Product Officer kitabisa.com</p>
              </div>
              <div class="col-md-8">
                <p>
                    Vikra Ijas adalah Chief Product Officer dari Kitabisa.com, salah satu social enterprise crowd funding platform di Indonesia. Vikra berangkat dari begitu banyak masalah sosial Indonesia yang sesungguhnya dapat diselesaikan melalui pengaplikasian teknologi. Dengan latar belakang pendidikan bisnis dari Auckland university New Zealand, akhirnya ia dan rekannya Alfatih Timur memutuskan untuk membuat platform untuk membantu sesama.

                    Sebagai CPO dari Kitabisa.com, Vikra akan membagikan bagaimana cara untuk membangun sebuah social enterprise. Dalam kelas online ini juga akan dijelaskan bagaimana cara membuat produk yang sesuai dengan tujuan social enterprise. Selain itu, Vikra juga akan menjelaskan bagaimana membangun tim yang tepat untuk bekerja sama membangun sebuah social enterprise yang sustain. Yuk ikuti kelasnya!
                    
                </p>
              </div>
              <div
                class="notifywrap"
                style="width: 80%; border:1px solid #62599e"
              >
                <form action="" id="subscribeform5">
                  <input
                    class="notifyinput"
                    type="email"
                    placeholder="Masukkan email kamu"
                    id="email5"
                  />

                  <button class="notifybtn-modal" type="submit">
                    SUBMIT
                  </button>
                </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button> -->
          </div>
        </div>
      </div>
    </div>
    
    <script>
    
      $('#subscribeform').on("submit", function() {
        event.preventDefault();
        let email = $("#email").val();
        
        $.ajax({
          url: `https://vestor.id/api`,
          type: "POST",
          dataType: "JSON",
          data: {
            email: email,
          },
          success: r => {
            if(r.message == "Subscription success!"){
              $("#email").val("");
              Swal.fire(
              'Thank You',
              'Your email has been submitted',
              'success'
            )
            }else{
              Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
            }
          },
          error:()=>{
            Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
          }
        });
      });

      $('#subscribeform1').on("submit", function() {
        event.preventDefault();
        let email = $("#email1").val();
        
        $.ajax({
          url: `https://vestor.id/api`,
          type: "POST",
          dataType: "JSON",
          data: {
            email: email,
          },
          success: r => {
            if(r.message == "Subscription success!"){
              $("#email1").val("");
              Swal.fire(
              'Thank You',
              'Your email has been submitted',
              'success'
            )
            }else{
              Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
            }
          },
          error:()=>{
            Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
          }
        });
      });

      $('#subscribeform2').on("submit", function() {
        event.preventDefault();
        let email = $("#email2").val();
        
        $.ajax({
          url: `https://vestor.id/api`,
          type: "POST",
          dataType: "JSON",
          data: {
            email: email,
          },
          success: r => {
            if(r.message == "Subscription success!"){
              $("#email2").val("");
              Swal.fire(
              'Thank You',
              'Your email has been submitted',
              'success'
            )
            }else{
              Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
            }
          },
          error:()=>{
            Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
          }
        });
      });
    
      $('#subscribeform3').on("submit", function() {
        event.preventDefault();
        let email = $("#email3").val();
        
        $.ajax({
          url: `https://vestor.id/api`,
          type: "POST",
          dataType: "JSON",
          data: {
            email: email,
          },
          success: r => {
            if(r.message == "Subscription success!"){
              $("#email3").val("");
              Swal.fire(
              'Thank You',
              'Your email has been submitted',
              'success'
            )
            }else{
              Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
            }
          },
          error:()=>{
            Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
          }
        });
      });

      $('#subscribeform4').on("submit", function() {
        event.preventDefault();
        let email = $("#email4").val();
        
        $.ajax({
          url: `https://vestor.id/api`,
          type: "POST",
          dataType: "JSON",
          data: {
            email: email,
          },
          success: r => {
            if(r.message == "Subscription success!"){
              $("#email4").val("");
              Swal.fire(
              'Thank You',
              'Your email has been submitted',
              'success'
            )
            }else{
              Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
            }
          },
          error:()=>{
            Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
          }
        });
      });

      $('#subscribeform5').on("submit", function() {
        event.preventDefault();
        let email = $("#email5").val();
        
        $.ajax({
          url: `https://vestor.id/api`,
          type: "POST",
          dataType: "JSON",
          data: {
            email: email,
          },
          success: r => {
            if(r.message == "Subscription success!"){
              $("#email5").val("");
              Swal.fire(
              'Thank You',
              'Your email has been submitted',
              'success'
            )
            }else{
              Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
            }
          },
          error:()=>{
            Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'We already have your email, try another one',
            
          })
          }
        });
      });
    </script>
    
  </body>
</html>
